body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background: linear-gradient(30deg, #ffc60bd2, #d46306);
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

header {
    background-color: #327be9;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    max-width: 600px;
    margin: 20px auto;
    background-color: #c0392b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #0a0a0a;
    border-radius: 4px;
}

button {
    background-color: #327be9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}


.retour-button-contacter {
    background-color: #327be9;
    position: absolute;
    left: 1180px;
    top: 423px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.retour-button-contacter:hover {
    background-color: #555;
}